:root {
  --color-body-bg: #fff;
  --color-navbar-bg: #fff;
  --color-toggle-bg: #555;
  --color-line: #eee;
  --color-shadow: rgb(0 0 0 / 8%) 0px 0px 15px;

  /* common */

  /* common - color*/
  --color-white: #fff;
  --color-link: #3a95ff;

  /* common - font size */
  --fontSize-xs: 0.5rem;
  --fontSize-sm: 0.75rem;
  --fontSize-base: 1rem;
  --fontSize-md: 1.25rem;
  --fontSize-lg: 1.5rem;
  --fontSize-xl: 1.7rem;
  --fontSize-2xl: 2rem;
  --fontSize-3xl: 2.5rem;
  --fontSize-4xl: 3rem;
}
